body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  padding: 20px;
}
#header-section {
  text-align: justify;
}

#root {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* space between columns */
  gap: 20px;
  padding: 20px;
}

#search-input,
#select-show,
#select-episode {
  display: inline;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
}

#shows,
#episodes,
#q,
#search-message,
#all-episodes-button {
  padding: 5px;
  margin-bottom: 5px;
  color: gray;
  font-size: 14px;
}
.episode-card {
  flex: 0 0 calc(33.33% - 20px); /* 3 per row with spacing */
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  text-align: justify;
  margin: 0;
  padding: 0;
}

.episode-card img {
  display: block;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: center;
}
.episode-card h3 {
  box-sizing: border-box;
  display: block;
  line-height: 1.6;
  font-size: 16px;
  text-align: center;
  border-radius: 10px;
  border: 1px solid black;
  padding: 10px;
  margin: 0;
}
.episode-card p {
  display: block;
  font-size: 14px;
  color: gray;
  text-align: justify;
  margin-left: 10px;
  margin-right: 10px;
}

#search-message {
  color: gray;
}

footer p {
  text-align: center;
  color: gray;
}
footer p a {
  text-decoration: none;
  color: gray;
  cursor: pointer;
}

.wrapper {
  display: flex;
  column-gap: 30px;

  background-color: white;
  border-radius: 10px;
 
  box-sizing: border-box;
  text-align: justify;
  margin: 0;
  padding: 0;
}

.wrapper p {
width: 100%;
}

.extraInfo {
  width: 30%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  text-align: justify;
  margin-right: 20px;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-top: 30px;
}

.show-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  text-align: justify;
  margin: 0;
  padding: 0;
}

.show-card h3 {
  margin-left: 25px;
}

.show-card img {
  margin-left: 20px;
  margin-bottom: 20px;
}